[submodule "office-editor"]
path = office-editor
url = https://github.com/ClearXs/office-editor.git
[submodule "office-service"]
	path = office-service
	url = https://github.com/ClearXs/office-service.git
[submodule "office-web"]
	path = office-web
	url = https://github.com/ClearXs/office-web.git
